@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: rgba(100, 0, 0, 0.05) !important;
} */

body {
  background: #444244;
  padding: 0;
  margin: 0;
  font-family: Neuton, SF Pro Display, SF Pro Icons, Helvetica, sans-serif;
  letter-spacing: 0em;
  line-height: 1.1;
}
